/***************************************
  FlexEmbed
 ***************************************/


/**
 * Example HTML:
 *
  <div class="FlexEmbed [FlexEmbed--modifier]">
    <iframe class="FlexEmbed-item" src="…"></iframe>
  </div>
 
  <div class="FlexEmbed [FlexEmbed--modifier]">
    [iframe|object|embed]
  </div>
 */


.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
  }
}

.FlexEmbed-item,
.FlexEmbed iframe,
.FlexEmbed embed,
.FlexEmbed object {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/* FlexEmbed modifires
 ***************************************/

/* Modifier: 1:1 aspect ratio */

.FlexEmbed--1by1::before {
  padding-bottom: 100%;
}


/* Modifier: 3:1 aspect ratio */

.FlexEmbed--3by1::before {
  padding-bottom: 33.333333%;
}


/* Modifier: 2:1 aspect ratio */

.FlexEmbed--2by1::before {
  padding-bottom: 50%;
}


/* Modifier: 16:9 aspect ratio */

.FlexEmbed--16by9::before {
  padding-bottom: 56.25%;
}


/* Modifier: 4:3 aspect ratio */

.FlexEmbed--4by3::before {
  padding-bottom: 75%;
}
