@if $flex-embed {

/***************************************
  FlexEmbed
 ***************************************/


/**
 * Example HTML:
 *
  <div class="FlexEmbed [FlexEmbed--aspectratio]">
    <iframe class="FlexEmbed-item" src="…"></iframe>
  </div>
 
  <div class="FlexEmbed [FlexEmbed--aspectratio]">
    [iframe|object|embed]
  </div>
 */


.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
  }
}

.FlexEmbed-item,
.FlexEmbed iframe,
.FlexEmbed embed,
.FlexEmbed object {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


@each $aspect-ratio in $aspect-ratios {
  $value: nth($aspect-ratio, 1);
  $name: nth($aspect-ratio, 2);

  /* FlexEmbed (aspect ratio: #{$name}) */

  .FlexEmbed--#{$name}::before {
    padding-bottom: $value;
  }
}

}