@if $grid {

/***************************************
  Grid
 ***************************************/


/**
 * Example: basic grid
 * 
  <div class="Grid [Grid--modifier]">
    <div class="Grid-cell">…</div>
    <div class="Grid-cell">…</div>
  </div>
 */

/**
 * Example HTML:
 * 
  <div class="Grid [Grid--modifier]">
    <div class="Grid-cell u-size2of8"></div>
    <div class="Grid-cell u-size2of8"></div>
    <div class="Grid-cell u-size2of8"></div>
  </div>
 */


/* Grid container */

.Grid {
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 0;
}

.Grid--center {
  text-align: center;
}

.Grid--right {
  text-align: right;
}

.Grid--middle > .Grid-cell {
  vertical-align: middle;
}

.Grid--bottom > .Grid-cell {
  vertical-align: bottom;
}


/* Grid cell */

.Grid-cell {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: $size-full;
}

.Grid-cell--center {
  display: block;
  margin: 0 auto;
}


/* Grid (default) */

.Grid--2col > .Grid-cell {
  width: $size-1of2;
}

.Grid--3col > .Grid-cell {
  width: $size-1of3;
}

.Grid--4col > .Grid-cell {
  width: $size-1of4;
}


@each $breakepoint in $breakepoints {
  $min-width: nth($breakepoint, 1);
  $name: nth($breakepoint, 2);

  /* Grid (breakpoint: #{$name}) */

  @media (min-width: $screen-sm) {

    .#{$name}-Grid--1col > .Grid-cell {
      width: $size-full;
    }

    .#{$name}-Grid--2col > .Grid-cell {
      width: $size-1of2;
    }

    .#{$name}-Grid--3col > .Grid-cell {
      width: $size-1of3;
    }

    .#{$name}-Grid--4col > .Grid-cell {
      width: $size-1of4;
    }

  }
}


/* Grid modifiers
 ***************************************/

/* Gutter modifier */

.Grid--gutters {
  margin: 0 (-$grid-gutter-md);
}

.Grid--gutters > .Grid-cell {
  padding: 0 $grid-gutter-md;
}


}