/***************************************
  Display
 ***************************************/


.u-block {
  display: block;
}

.u-hidden {
  display: none;
}

.u-hiddenVisually {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.u-inline {
  display: inline;
}

.u-inlineBlock {
  display: inline-block;
  max-width: 100%;
}

.u-table {
  display: table;
}

.u-tableCell {
  display: table-cell;
}

.u-tableRow {
  display: table-row;
}

.u-responsiveImage {
  display: block;
  max-width: 100%;
  height: auto;
}

