// =====================================
// Display
// =====================================

.u-inline {
  display: inline;
}

.u-inlineBlock {
  display: inline-block;
}

.u-block {
  display: block;
}

.u-table {
  display: table;
}

.u-tableCell {
  display: table-cell;
}
