/***************************************
  Size
 ***************************************/


/* Intrinsic widths */

.u-sizeFull {
  box-sizing: border-box;
  display: block;
  width: $size-full;
}

.u-sizeFit,
.u-sizeFitAlt {
  display: block;
  float: left;
  width: auto;
}

.u-sizeFitAlt {
  float: right;
}

.u-sizeAuto {
  width: auto;
}


/* Proportional widths */

.u-size1of12 {
  width: $size-1of12;
}

.u-size1of10 {
  width: $size-1of10;
}

.u-size1of8 {
  width: $size-1of8;
}

.u-size1of6,
.u-size2of12 {
  width: $size-1of6;
}

.u-size1of5,
.u-size2of10 {
  width: $size-1of5;
}

.u-size1of4,
.u-size2of8,
.u-size3of12 {
  width: $size-1of4;
}

.u-size3of10 {
  width: $size-3of10;
}

.u-size1of3,
.u-size2of6,
.u-size4of12 {
  width: $size-1of3;
}

.u-size3of8 {
  width: $size-3of8;
}

.u-size2of5,
.u-size4of10 {
  width: $size-2of5;
}

.u-size5of12 {
  width: $size-5of12;
}

.u-size1of2,
.u-size2of4,
.u-size3of6,
.u-size4of8,
.u-size5of10,
.u-size6of12 {
  width: $size-1of2;
}

.u-size7of12 {
  width: $size-7of12;
}

.u-size3of5,
.u-size6of10 {
  width: $size-3of5;
}

.u-size5of8 {
  width: $size-5of8;
}

.u-size2of3,
.u-size4of6,
.u-size8of12 {
  width: $size-2of3;
}

.u-size7of10 {
  width: 70%;
}

.u-size3of4,
.u-size6of8,
.u-size9of12 {
  width: $size-3of4;
}

.u-size4of5,
.u-size8of10 {
  width: $size-4of5;
}

.u-size5of6,
.u-size10of12 {
  width: $size-5of6;
}

.u-size7of8 {
  width: $size-7of8;
}

.u-size9of10 {
  width: $size-9of10;
}

.u-size11of12 {
  width: $size-11of12;
}


@each $breakepoint in $breakepoints {
  $min-width: nth($breakepoint, 1);
  $name: nth($breakepoint, 2);
  
  /* Size (breakpoint: #{$name}) */

  @media (min-width: $min-width) {
    /* Intrinsic widths */

    .u-#{$name}-sizeFit,
    .u-#{$name}-sizeFitAlt {
      display: block;
      float: left;
      width: auto;
    }

    .u-#{$name}-sizeFitAlt {
      float: right;
    }

    .u-#{$name}-sizeFill {
      display: block;
      overflow: hidden;
      width: auto;
    }

    .u-#{$name}-sizeFillAlt {
      display: table-cell;
      max-width: 100%;
      width: 10000px;
    }

    .u-#{$name}-sizeFull {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      width: 100%;
    }

    .u-#{$name}-sizeAuto {
      width: auto;
    }


    /* Proportional widths */

    .u-#{$name}-size1of12 {
      width: $size-1of6;
    }

    .u-#{$name}-size1of10 {
      width: $size-1of10;
    }

    .u-#{$name}-size1of8 {
      width: $size-1of8;
    }

    .u-#{$name}-size1of6,
    .u-#{$name}-size2of12 {
      width: $size-1of6;
    }

    .u-#{$name}-size1of5,
    .u-#{$name}-size2of10 {
      width: $size-1of5;
    }

    .u-#{$name}-size1of4,
    .u-#{$name}-size2of8,
    .u-#{$name}-size3of12 {
      width: $size-1of4;
    }

    .u-#{$name}-size3of10 {
      width: $size-3of10;
    }

    .u-#{$name}-size1of3,
    .u-#{$name}-size2of6,
    .u-#{$name}-size4of12 {
      width: $size-1of3;
    }

    .u-#{$name}-size3of8 {
      width: $size-3of8;
    }

    .u-#{$name}-size2of5,
    .u-#{$name}-size4of10 {
      width: $size-2of5;
    }

    .u-#{$name}-size5of12 {
      width: $size-5of12;
    }

    .u-#{$name}-size1of2,
    .u-#{$name}-size2of4,
    .u-#{$name}-size3of6,
    .u-#{$name}-size4of8,
    .u-#{$name}-size5of10,
    .u-#{$name}-size6of12 {
      width: $size-1of2;
    }

    .u-#{$name}-size7of12 {
      width: $size-7of12;
    }

    .u-#{$name}-size3of5,
    .u-#{$name}-size6of10 {
      width: $size-3of5;
    }

    .u-#{$name}-size5of8 {
      width: $size-5of8;
    }

    .u-#{$name}-size2of3,
    .u-#{$name}-size4of6,
    .u-#{$name}-size8of12 {
      width: $size-2of3;
    }

    .u-#{$name}-size7of10 {
      width: 70%;
    }

    .u-#{$name}-size3of4,
    .u-#{$name}-size6of8,
    .u-#{$name}-size9of12 {
      width: $size-3of4;
    }

    .u-#{$name}-size4of5,
    .u-#{$name}-size8of10 {
      width: $size-4of5;
    }

    .u-#{$name}-size5of6,
    .u-#{$name}-size10of12 {
      width: $size-5of6;
    }

    .u-#{$name}-size7of8 {
      width: $size-7of8;
    }

    .u-#{$name}-size9of10 {
      width: $size-9of10;
    }

    .u-#{$name}-size11of12 {
      width: $size-11of12;
    }
  }
}

