/***************************************
  States
 ***************************************/


/* Actions
 ***************************************/

.u-isActionable {
  cursor: pointer;
}

.u-isDisabled {
  cursor: default;
}

.u-isDraggable {
  cursor: move;
}

.u-isBusy {
  cursor: progress;
}


/* Display
 ***************************************/

.u-isHidden {
  display: none;
  visibility: hidden;
}

.u-isShown {
  display: block;
  visibility: visible;
}

.u-isShownAlt {
  display: inline-block;
  visibility: visible;
}

table.u-isShown {
  display: table;
}

tr.u-isShown,
tr.u-isShown {
  display: table-row;
}

td.u-isShown,
th.u-isShown {
  display: table-cell;
}

@if $grid {
  .Grid-cell.u-isShown {
    display: inline-block;
  }
}

@if $arrange {
  .Arrange-item.u-isShown {
    display: table-cell;
  }
}

@if $button-group {
  .ButtonGroup--hz > .ButtonGroup-item.u-isShown {
    display: inline-block;
  }
}

@if $input-group {
  .InputGroup-item.u-isShown {
    display: table-cell;
  }
}

@if $navigation {
  .Navigation--hz > .Navigation-item.u-isShown {
    display: inline-block;
  }
}


@each $breakepoint in $breakepoints {
  $min-width: nth($breakepoint, 1);
  $name: nth($breakepoint, 2);
  
  /* Display (breakpoint: #{$name}) */

  @media (min-width: $min-width) {
    .u-#{$name}-isHidden {
      display: none;
      visibility: hidden;
    }
    
    .u-#{$name}-isShown {
      display: block;
      visibility: visible;
    }

    .u-#{$name}-isShownAlt {
      display: inline-block;
      visibility: visible;
    }

    table.u-#{$name}-isShown {
      display: table;
    }

    tr.u-#{$name}-isShown,
    tr.u-#{$name}-isShown {
      display: table-row;
    }

    td.u-#{$name}-isShown,
    th.u-#{$name}-isShown {
      display: table-cell;
    }

    @if $grid {
      .Grid-cell.u-sm-isShown {
        display: inline-block;
      }
    }

    @if $arrange {
      .Arrange-item.u-sm-isShown {
        display: table-cell;
      }
    }

    @if $button-group {
      .ButtonGroup--hz > .ButtonGroup-item.u-sm-isShown {
        display: inline-block;
      }
    }

    @if $input-group {
      .InputGroup-item.u-sm-isShown {
        display: table-cell;
      }
    }

    @if $navigation {
      .Navigation--hz > .Navigation-item.u-sm-isShown {
        display: inline-block;
      }
    }
  }
}


/* Display (media: print) */

@media print {
  .u-print-isHidden {
    display: none;
    visibility: hidden;
  }
  
  .u-print-isShown {
    display: block;
    visibility: visible;
  }

  table.u-print-isShown {
    display: table;
  }

  tr.u-print-isShown,
  tr.u-print-isShown {
    display: table-row;
  }

  td.u-print-isShown,
  th.u-print-isShown {
    display: table-cell;
  }
}


/* Visability
 ***************************************/

.u-isInvisible {
  visibility: hidden;
}

.u-isVisible {
  visibility: visible;
}


/* Opacity
 ***************************************/

.u-isTransparent {
  opacity: 0;
}

.u-isOpaque {
  opacity: 1;
}


/* Visualy hidden
 ***************************************/

.u-isHiddenVisually {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

