// =====================================
// Text 
// =====================================


// Word breaking
// -------------------------------------
.u-textBreak {
  word-wrap: break-word;
}


// Alligment
// -------------------------------------

.u-textCenter {
  text-align: center;
}

.u-textLeft {
  text-align: left;
}

.u-textRight {
  text-align: right;
}


// Inherit color 
// -------------------------------------

.u-textInheritColor {
  color: inherit;
}


// Invert color 
// -------------------------------------

.u-textInvertColor {
  color: $text-color-invert;
}


// Whitespace wrapping 
// -------------------------------------

.u-textNoWrap {
  white-space: nowrap;
}


// Font kerning
// -------------------------------------

.u-textKern {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}


// Text truncation
// -------------------------------------

.u-textTruncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

